{{>layouts/header}}

<h1 style="padding: 30px 0px 0px 30px;"><b>KAFKA MQ 생성</b></h1>
<h5 style="padding: 0px 0px 30px 30px;">Kafka MQ 생성을 위한 다양한 옵션 설정</h5>

<div class="col-md-12" style="padding: 0px 0px 0px 30px;">
    <div class="col-md-4">
        <form action="/mqui" method="post">
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" class="form-control" name="name" placeholder="이름 입력하시오">
            </div>
            <div class="form-group">
                <label for="location">위치</label>
                <select class="form-select" name="location" aria-label="location select">
                    <option selected value="DX-M1">DX-M1</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cpu">사양</label>
                <select class="form-select" name="cpu" aria-label="cpu select">
                    <option selected value="1core 1GB">1core 1GB</option>
                    <option value="1core 10GB">1core 10GB</option>
                    <option value="2core 1GB">2core 1GB</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ip">IP</label>
                <select class="form-select" name="ip" aria-label="ip select">
                    <option selected value="211.184.188.39">211.184.188.39</option>
                    <option value="211.184.188.41">211.184.188.41</option>
                </select>
            </div>
            <div class="form-group">
                <label for="version">Kafka 버젼</label>
                <select class="form-select" name="version" aria-label="version select">
                    <option selected value="kafka 5.5.0">kafka 5.5.0</option>
                </select>
            </div>
            <div class="form-group">
                <label for="volume">볼륨 용량</label>
                <select class="form-select" name="volume" aria-label="volume select">
                    <option selected value="10GB">10GB</option>
                    <option value="20GB">20GB</option>
                    <option value="50GB">50GB</option>
                </select>
            </div>
            <div class="form-group">
                <label for="broker">브로커 노드 개수</label>
                <input type="text" class="form-control" name="broker">
            </div>
            <div style="padding-top: 30px;">
                <button type="submit" class="btn btn-primary">생성</button>
                <a href="/" role="button" class="btn btn-secondary">취소</a>
            </div>
        </form>
    </div>
</div>


{{>layouts/footer}}